/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Стилі для форми */
  .feedback-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Стилі для міток */
  .feedback-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Стилі для полів вводу */
  .feedback-form input,
  .feedback-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  .feedback-form input:focus,
  .feedback-form textarea:focus {
    border-color: #a564ee;
    outline: none;
  }
  
  /* Стилі для кнопки */
  .feedback-form button {
    background-color: #9958e4;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .feedback-form button:hover {
    background-color: #0056b3;
  }
  